table{
    padding: 2px;
    font-family: 'Bold';
    text-align: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-collapse: collapse;

}
table td{
    border: 1px solid #ccc;
    padding: 5px;
}
.container{
    padding-right: 10px;
    border-color: blueviolet;
}
table td:first-child{
    font-weight: 800;
}